// Colors
    $color-main: #4300D2;

    $white: #FFF;
    $bright-gray: #EEE;
    $light-gray: #CCC;
    $medium-gray: #888888;
    $gray: #666;
    $dark-gray: #444;

    $green: #03A691;
    $red: #FA503F;
    $light-orange: #FA8E04;
    $dark-violet: #270570;

// Fonts
    $font-rubik: 'rubikregular', sans-serif;
    $bold: 700;
    //size
    $font-24: 1.5rem;
    $font-18: 1.2rem;
    $font-16: 1rem;
    $font-14: .8rem;
    $font-12: .75rem;

// Space
    $padding-card: 2rem 1rem;




